html
	head
		title Ships R Us

		meta(name='viewport', content="width=device-width, initial-scale=1")

		each scrpt in scripts
			script(type=scrpt.type, src=scrpt.src)

		each styl in styles
			link(rel=styl.rel, type=styl.type, href=styl.href)

	body(id='mount-point', class='container-fluid')!= markup
